<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение данных</title>
</head>
<body>
    <h1>Подтверждение данных</h1>
    <h2>Результаты поиска:</h2>
    <ul>
        {% for key, value in company_info.items() %}
            <li><strong>{{ key }}:</strong> {{ value|safe }}</li>
        {% endfor %}
    </ul>

    <h3>Верны ли все данные?</h3>
    <form method="post">
        <button name="confirm">Да</button>
        <button name="decline">Нет, я хочу изменить</button>
    </form>
</body>
</html>
