<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Выберите опции</title>
</head>
<body>
    <h1>Выберите один из вариантов поддержки</h1>
    <form method="post" action="/options">
        <label><input type="radio" name="option" value="Деньги"> Деньги (гранты, стипендии, налоговые вычеты, субсидии и т.д.)</label><br>
        <label><input type="radio" name="option" value="Недвижимость"> Недвижимость</label><br>
        <label><input type="radio" name="option" value="Обучение"> Обучение</label><br>
		<label><input type="radio" name="option" value="Маркетинг и продвижение"> Маркетинг и продвижение</label><br>
		<label><input type="radio" name="option" value="Консультирование"> Консультирование</label><br>
		<label><input type="radio" name="option" value="Поддержка экспорта"> Поддержка экспорта</label><br>
		<label><input type="radio" name="option" value="Регистрация, разрешения, экспертиза"> Регистрация, разрешения, экспертиза</label><br>
		<label><input type="radio" name="option" value="Выставки и ярмарки"> Выставки и ярмарки</label><br>
		<label><input type="radio" name="option" value="ОбОбеспечение хозяйственной деятельностиучение"> ОбОбеспечение хозяйственной деятельностиучение</label><br>
        <button type="submit">Выбрать</button>
    </form>
</body>
</html>
