<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор радиокнопок</title>
</head>
<body>
    <h1>Выберите радиокнопку</h1>
    <form method="post" action="/options">
        <label><input type="radio" name="radio_option" value="Radio Option 1"> Radio Option 1</label><br>
        <label><input type="radio" name="radio_option" value="Radio Option 2"> Radio Option 2</label><br>
        <label><input type="radio" name="radio_option" value="Radio Option 3"> Radio Option 3</label><br>
        <button type="submit">Подтвердить выбор</button>
    </form>
</body>
</html>
