<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Выбор радиокнопок</title>
</head>
<body>
    <h1>Выберите вид Вашего бизнеса</h1>
    <form method="post">
        <label><input type="radio" name="radio_option" value="Микробизнес"> Микробизнес (не больше 15 сотрудников в компании и годовой оборот до 120 млн руб.);</label><br>
        <label><input type="radio" name="radio_option" value="Малый бизнес"> Малый бизнес (не больше 100 человек в компании и оборот до 800 млн руб.);</label><br>
        <label><input type="radio" name="radio_option" value="Средний бизнес"> Средний бизнес (не больше 250 человек в компании и годовой оборот до 2 млрд руб.).</label><br>
        <button type="submit">Подтвердить выбор</button>
    </form>
</body>
</html>
